@media screen and (max-width:1250px) {
    .main{
     grid-template-columns: repeat(1,1fr);
    }
    .grid2{
        display: none;
    }
    .grid1 img{
        width: 200px;
        float: right;
        background-image: url(../photos/bground.png);

    }
}
@media screen and (min-width:1251px){
    .grid1 .img-responsive{
       display: none;
    }
}
@media screen and (max-width:924px) {
    .main{
        padding-top: 50px;
    }
    .grid1 img{
        clip-path: circle();
        margin-top: -220px;
        -webkit-clip-path: ellipse(42% 50% at 41% 15%);
        clip-path: ellipse(42% 50% at 41% 15%);
        background-image: url(../photos/bground.png);
    }
    .grid1 h1{
        margin-top: 100px;
    }
}
@media screen and (max-width:811px) {
    .main{
        padding-top: 50px;
    }
    .grid1 img{
        position: absolute;
    }
    .grid1 .paragraph{
        margin-top: 20px;
    }
    .grid1 button{
        margin-top: 35px;
    }
}
@media screen and (max-width:724px) {
    .main{
        padding-top: 5px;
    }
    .grid1 img{
        margin-right:20%;
    }
    .grid1 .paragraph{
        margin-top: 20px;
    }
    .grid1 button{
        margin-top: 35px;
    }
    h1{
        font-size: 20px;
    }
    .grid1 img{
      position: absolute;
    }
    .grid1 #changeText{
        display: block;
    }
}


/*       Skill Responsive */

@media screen and (max-width:1302px) {
    .footer{
        display: none;
    }
    .about{
        height: 100%;
    }
}
@media screen and (max-width:1231px) {
    .about .personal-profile .row-list li{
        font-size: 16px;
    }
    .footer{
        display: none;
    }
    .about{
        height: auto;
    }
}
@media screen and (max-width:999px) {
  
    .side{
      display: none;
    }
}
@media screen and (min-width:999px) {
  .menu-burger{
    display: none;
  }
  .container-menu-burger{
    display: none;
  }
}
@media screen and (max-width:800px) {
  
    .side{
        height: 100vh;
    }
    .skills li{
        display: block;
    }
}
