
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #102626;
}
/* Btn Print */
.container-print {
    width: 90px;
    height: 70px;
    padding: 5px;
    z-index: 2;
    margin-left:  990px;
    cursor: pointer;
    position: absolute;
}
.container-print a {
    color: aliceblue;
    text-decoration: none;
}
.container-print a:hover {
    color: rgb(201, 120, 15);
}
.container-print button {
    margin-top: 15px;
    cursor: pointer;
}
/* Container ------------------------- */
.container {
    width:900px;
    height: auto;
    border: solid 1px gray;
    -webkit-box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    color: rgb(97, 93, 93);
}
.head {
    padding:   50px;
    color: rgba(0, 0, 0, 0.733);
}
.head div {
    margin-top: 10px;
}
/* Main --------------------------- */
.main {
    padding: 50px ;
}
.Education , .skill {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
/* Document --------------------- */
.document {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray 1px;
}
.document div {
    width: 50%;
    height: 300px;
}
.document div img {
    width: 100%;
    height: auto;
}
.item {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item div {
    line-height: 22px;
}
.titel-item {
    padding-top: 10px;
    
}
/* Skill ---------------------------------*/
.skill {
    width: 100%;
    height: auto;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}
.skill li {
    width: 100%;
    height: auto;
    list-style-type: none;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.container-skill , .container-Learning {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-skill ul, .container-Learning ul {
    margin-top: 80px;
}
.container-skill .container-pursents {
    width: 200px;
    height: 5px;
    border: solid 1px gray;
    display: flex;
    justify-content: space-between;
}

.container-skill .container-pursents  span {
    position: absolute;
    margin: -10px 200px;
    float: right;
}
/* container Learning --------- */