
.side h1{
    width: 200px;
    display: inline-block;
    color: rgb(255, 136, 0);
    font-size: 50px;
    border: solid 5px;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.side .container-list{
    width: 30%;
    height: 400px;
    margin: 140px auto;
}

.side .container-list img{
    padding: 0 15px;
}
.side li{
    width: 100px;
    list-style-type: none;
    text-align: left;
    margin-top: 30px;
    padding: 5px;
}
.side li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.border-bottem {
    border: solid 1px;
    border-bottom-color: orange;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
/* main */
.side{
    max-width: 200px;
}
.service{
    position: absolute;
    width: 89.5%;
    height: 100%;
    margin-left: 200px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    padding: 70px 160px;
}
.bgcolor{
    background-color:#fdfdfd;
}

.cards{
    max-width: 400px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
    box-shadow: rgba(10, 10, 10, 0.19) 0px 10px 20px, rgba(10, 10, 10, 0.23) 0px 6px 6px;
}
.cards h3{
    padding-top: 50px;
}
.cards p{
    text-align: left;
    padding: 30px;
}
.cards img{
    max-width: 100px;
    margin-top: 20px;
}

@media screen and (max-width:1265px) {
    .cards{
        max-width: 270px;
    }
}
@media screen and (max-width:1078px) {
    
    .cards{
        max-width: 200px;
        margin-left: -70px;
    }
}
@media screen and (max-width:1000px) {
    .service{
        height: 400px;
        margin-left: 10px;
    }
    .cards{
        max-width: 200px;
    }
    .cards img{
        max-width: 70px;
        margin-top: 20px;
    }
    
}
@media screen and (max-width:1029px) {
    .service{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin: 10px 130px;
    }
    .cards{
        max-width: 270px;
    }
}
@media screen and (max-width:970px) {
    
    .service{
        margin: 0 50px;
    }
    .cards{
        margin: 5px;
        max-width: 270px;
    }
}
@media screen and (max-width:930px) {
    .service{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin: 0 160px;
    }
    .cards{
        max-width: 300px;
        
    }
    .cards p{
        margin: 20px 70px;
        padding: 5px;
    }
}
@media screen and (max-width:923px) {
    .service{
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .cards{
        max-width: 400px;
        height: auto;
    }
   
}
@media screen and (max-width:915px) {
    .service{
        max-width: 100%;
        margin: auto;
    }
}
@media screen and (max-width:567px) {
 
    .service{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
}
@media screen and (max-width:390px) {
    .service{
        margin: auto;
        padding: 15px;
    }
    .cards{
        margin: 10px 5px;
    }
   
}
@media screen and (max-width:350px) {
    .cards{
        margin:  -100px;
    }
  
}
